footer.footer--wrap
  .container
    .footer
      ._phone
        a(href="tel:+380965333906")
          +icon("phone")
          | (096) 533 39 06
          span Сергій
        a(href="tel:+380977408019")
          +icon("phone")
          | (097) 740 80 19
          span Юля
      ._logo
        a(href="/")
          img(src='./static/img/general/logotype.png')
      ._info
        a(href="mailto:info@kazikwood.com")
          +icon("email")
          | info@kazikwood.com
        a(href="#")
          +icon("map")
          | Хмельницький, вул.Курчатова, 118/3
      ._copyright 
        p Всі права захищені
          a(href="/")
            | Kazik Wood
          | (c) 2019      