// ЦВЕТА
baseWhite = #fff
baseBlack = #000

// РАЗМЕРЫ
baseFontSize = 16px

// ШРИФТЫ
mainFont = 'Open Sans', sans-serif

// Media Bootstrap 4

$xl-and-smaller = '(max-width: 1400px)'
$lg-and-smaller = '(max-width: 1200px)'
$md-and-smaller = '(max-width: 992px)'
$sm-and-smaller = '(max-width: 768px)'
$xs-and-smaller = '(max-width: 576px)'