.welcome--wrap
  .container
    .welcome
      h1
        | Оптовий склад твердопаливної продукції
      ul._hero 
        li
          p экологически чистая продукция
          img(src='./static/img/content/herbal.png')
        li
          p доставка по Хмельницкому и области
          img(src='./static/img/content/cargo.png')
        li
          p найбільший асортимент в області
          img(src='./static/img/content/tree.png')
    