.footer
  width: 100%
  display flex
  flex-wrap wrap
  justify-content space-between
  align-items: center
  padding-top 80px
  @media $lg-and-smaller
    padding-top 40px
  @media $md-and-smaller
    flex-direction: column

  &--wrap
    width 100%
  &__phone
    width calc(50% - 83px)
    @media $xl-and-smaller
      display flex
      flex-direction: column
      justify-content center
      align-items center
    @media $md-and-smaller
        width 100%
    a
      margin-right 90px
      font-family: mainFont;
      color: #625950
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 27px;
      @media $xl-and-smaller
        margin 0
      @media $md-and-smaller
        font-size: 16px
      span
        display inline-block
        margin-left 10px
        color #FF6B00
    svg
      size(22px)
      fill #A99F84
      margin-right 12px
      @media $xl-and-smaller
        size(18px)
  &__logo
    width 166px
    @media $md-and-smaller
      width 100px
    a
      width 100%
      display block
      img
        width 100%
        height: auto
        display block
  &__info
      width calc(50% - 83px)
      display flex
      justify-content flex-end
      align-items center
      @media $xl-and-smaller
        flex-direction: column
      @media $md-and-smaller
        width 100%
      a 
        margin-left 50px
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        color: #625950;
        @media $md-and-smaller
          font-size: 16px
        @media $xl-and-smaller
          margin 0
          padding-bottom 10px
      svg
        size(22px)
        fill #625950
        margin-right 12px
  
  &__copyright
    width 100%
    margin-top 40px
    padding 40px 0 40px
    border-top 2px solid rgba(98, 89, 80, 0.2);
    @media $md-and-smaller
      padding 20px 0 20px
      margin: 0
    p,a
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      color: rgba(98, 89, 80, 0.5);
      text-align center
      @media $md-and-smaller
          font-size: 10px
    a
      display inline-block
      margin 0 5px